<!DOCTYPE html>
<html>
   
  <head>
    <title>NewsLatter</title>
  </head>
   
  <body>
   
  <!--showing success message-->

    <ul class="messages">
        
            <li>
              Email already exists</li>
       
    </ul>
 
     
   <!--Form with multiple submit buttons-->
   <form action="" method="POST">
     <label for="email">Enter your email:</label>
     <input type="email" id="email" name="email" required=true />
      <br> <br>
     <button type="submit" name="subscribe">Subscribe</button>
     <button type="submit" name="unsubscribe">Unsubscribe</button>
   </form>
   
  </body>
</html>